.share {
  width: 50%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 4rem auto;
  padding: 1rem;
  background-color: #151515;
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
  height: 4rem;
  padding: 1rem;
  padding-top: 2rem;
  background-color: #151515;
  color: #fff;
  overflow: scroll;
  resize: none;
}

.shareInput::-webkit-scrollbar {
  display: none;
}
.shareInput {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
}


.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.shareButton {
  border: none;
  padding: 9px 19px;
  border-radius: 5px;
  background-color: #097fed;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.shareImgContainer {
  padding: 0 1rem 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.shareImg {
  width: 80%;
  object-fit: contain;
}

.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 760px) {
  .share {
    width: 80%;
  }
}
